@import "tailwindcss";

@layer base {
  /* Default theme (dark) */
  :root {
    color-scheme: dark;

    /* Core palette */
    --bg: #020617; /* slate-950 */
    --fg: rgb(116, 140, 235, 1);
    --muted: #64748b; /* slate-500 */
    --border: #1f2937; /* slate-800 */
    --accent: #192e03;
    --accent-soft: rgba(52, 211, 153, 0.3);
    --bg-overlay: color-mix(in srgb, var(--bg) 85%, transparent);
  }

  [data-theme="dark"] {
    color-scheme: dark;
    --bg: #020617;
    --fg: rgb(116, 140, 235, 1);
    --muted: #64748b;
    --border: #1f2937;
    --accent: #192e03;
    --accent-soft: rgba(52, 211, 153, 0.3);
    --bg-overlay: color-mix(in srgb, var(--bg) 85%, transparent);
  }

  [data-theme="light"] {
    color-scheme: light;
    --bg: #f9fafb;
    --fg: #03061a;
    --muted: #6b7280;
    --border: #e5e7eb;
    --accent: #d9f99d;
    --accent-soft: rgba(16, 185, 129, 0.18);
    --bg-overlay: color-mix(in srgb, var(--bg) 85%, transparent);
  }

  html,
  body {
    height: 100%;
    font-family: var(--font-albert), system-ui, sans-serif;
  }

  body {
    @apply antialiased;
    background-color: var(--bg);
    color: var(--fg);
  }

  h1 {
    @apply text-4xl md:text-7xl lg:text-8xl font-semibold tracking-tight;
  }

  h2 {
    @apply text-xl md:text-3xl font-normal mb-12 md:leading-relaxed;
  }

  h3 {
    @apply text-2xl font-semibold mb-4;
  }

  p {
    @apply text-xl;
  }

  a {
    @apply bg-(--accent) underline underline-offset-4 decoration-wavy decoration-2 hover:underline-offset-8;
  }

  figcaption {
    @apply text-lg my-8;
  }

  figcaption strong {
    @apply block;
  }

  @media (prefers-reduced-motion: no-preference) {
    :root,
    body {
      transition: background-color 0.65s cubic-bezier(0.25, 0.8, 0.35, 1),
        color 0.65s cubic-bezier(0.25, 0.8, 0.35, 1);
    }

    body * {
      transition-property: background-color, color, border-color, fill, stroke;
      transition-duration: 0.65s;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.35, 1);
    }
  }
}
