@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light;

    /* Core palette */
    --bg: #f9fafb;
    --fg: #03061a;
    --muted: #475569;
    --border: #e5e7eb;
    --accent: #d9f99d;
    --accent-soft: rgba(16, 185, 129, 1);
    --on-accent: #03061a;
    --active-nav-bg: color-mix(in srgb, var(--bg) 85%, white 15%);
    --active-nav-fg: #03061a;
    --bg-overlay: color-mix(in srgb, var(--bg) 85%, transparent);
    --input-bg: #e5edf7;
    --header-gradient-start: color-mix(in srgb, var(--bg) 94%, transparent);
    --header-gradient-end: transparent;
  }

  html,
  body {
    height: 100%;
    font-family: var(--font-jost), system-ui, sans-serif;
  }

  body {
    @apply antialiased;
    background-color: var(--bg);
    color: var(--fg);
  }

  .site-header {
    @apply my-4;
  }

  .site-footer {
    @apply flex flex-wrap items-center justify-center gap-2 px-3 md:px-8 mt-8 md:mt-16 pb-10 md:pb-12 text-base text-center text-(--muted) font-normal;
  }

  .page-container {
    @apply px-3 md:px-8 pt-16 md:pt-20 mx-auto;
  }

  h1 {
    @apply text-5xl md:text-7xl lg:text-8xl font-normal leading-tight md:tracking-tight;
  }

  h2 {
    @apply text-2xl md:text-4xl font-normal leading-tight;
  }

  h3 {
    @apply text-3xl md:text-4xl font-normal leading-tight mb-1.5;
  }

  h4 {
    @apply text-2xl mb-2 font-normal;
  }

  p {
    @apply text-2xl font-normal leading-relaxed;
  }

  h2 a,
  p a {
    @apply bg-(--accent) text-(--fg) hover:opacity-70 transition-opacity;
  }

  em {
    @apply not-italic underline underline-offset-4 decoration-wavy decoration-2;
  }

  figcaption {
    @apply text-lg my-8;
  }

  .portfolio-grid {
    @apply grid grid-cols-1 gap-y-5 sm:grid-cols-2 gap-x-4 md:gap-x-6 gap-y-7 md:gap-y-10 mb-8 md:mb-16;
  }

  .portfolio-card {
    @apply aspect-4/3 overflow-hidden;
  }
}
